._*

*Dict.cc
*Dict.o
*Dict_rdict.pcm
*Dict.cpp

*.png

*.so
*.o

*.cint.cxx
*.cint.d
*.cint.o
*.cint_rdict.pcm
*.d

Reconstruction/level0/DecodeMC

Simulation/foot.geo
Simulation/foot.inp.tmp
Simulation/foot.reg
Simulation/foot_geo
Simulation/parameters.inc
.DS_Store

libs/lib/

libs/GenFit/
