._*

*Dict.cc
*Dict.o
*Dict_rdict.pcm
*Dict.cpp

*.png
*.root

*.so
*.o

*.cint.cxx
*.cint.d
*.cint.o
*.cint_rdict.pcm
*.d
*.dat

Reconstruction/level0/results
Reconstruction/level0/DecodeMC

Simulation/foot.geo
Simulation/foot.inp.tmp
Simulation/foot.reg
Simulation/foot_geo
Simulation/parameters.inc
.DS_Store

libs/lib/

libs/GenFit/build
libs/GenFit/include/
libs/GenFit/lib/
libs/GenFit/tests/*.png
libs/GenFit/tests/*.pdf
libs/GenFit/doc/

Reconstruction/level0/results/
Reconstruction/level0/bField.test
Reconstruction/level0/eventListFile.dat

Reconstruction/level0/utils/
Simulation/foot.inp_old
Simulation/foot.inp_plusMaterialAll

